body {
    background-color: #f4f7f6;
    margin-top: 20px;
}

a:link {
    text-decoration: none;
}

.about a {
    color: #606060;
}

li {
    padding: 10px 15px;
    list-style: none;
    border-radius: 3px
}

.item:hover {
    color: red;
    background: #efefef;
    cursor: pointer
}

li.active {
    background: #efefef
}

.online {
    color: #86c541
}

.offline {
    color: #e47297
}

.topic {
    max-height: 980px;
    overflow-y: scroll;
}