nav {
    padding: 2rem;
}

nav ul {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

nav a {
    color: #606060;
    font-size: 1.15rem;
    text-decoration: none;
}

nav a:hover,
nav a:active,
nav a.active {
    color: #330066;
}
